@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="content">
        <!--ko foreach: {data: beacons, as: 'uuide'}-->
        <div class="card">
            <h1 data-bind="text:uuide.uuid"></h1>
            <!--ko foreach: {data: uuide.values, as: 'majore'}-->
            <div class="card">
                <h1><img src="~/Content/images/arrow.png" data-bind="click: $root.expandMajor, css: { open: majore.visible, closed: !majore.visible }" class="arrow"/> Major ID: <!--ko text: majore.major == -1 ? 'unmatched' : majore.major --><!-- /ko --></h1>

                <div data-bind="visible: majore.visible, foreach: { data: majore.values, as: 'minore' }">
                    <div class="card admin" data-bind="with: minore.value">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 100px"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Minor ID:</td>
                                    <td><input type="text" data-bind="value: minor" /></td>
                                </tr>
                                <tr>
                                    <td>Title:</td>
                                    <td><input type="text" data-bind="value: title" /></td>
                                </tr>
                                <tr>
                                    <td>Url:</td>
                                    <td><input type="text" data-bind="value: url" /></td>
                                </tr>
                                <tr>
                                    <td>Body:</td>
                                    <td><textarea data-bind="value: bodyText"></textarea></td>
                                </tr>
                                <tr>
                                    <td>Image:</td>
                                    <td>
                                        <span data-bind="visible: image">
                                            <img data-bind="attr: { src: image }" />
                                        </span>
                                        <span data-bind="visible: !image">
                                            No image
                                        </span>

                                        <form style="display:inline-block; width: 400px;" enctype="multipart/form-data">
                                            <input type="file" name="image" />
                                            <br />
                                            <button type="button" data-bind="visible: image, click: $parent.removeImage">Remove Image</button>
                                        </form>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td>
                                        <button data-bind="click: $root.save">Save</button>
                                        <span class="savingmessage">Saving</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button data-bind="click: $root.addNewMinor">Add New</button>
            </div>
            <!-- /ko -->
            <button data-bind="click: $root.addNewMajor">Add New Major</button>
        </div>
        <!-- /ko -->
        <button data-bind="click: addNewUUID">Add New UUID</button>
    </div>

    <div class="header">
        Beacon admin
    </div>

    <div class="footer">
        &copy; 2014 Klick Inc.
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")

    @Scripts.Render("~/Scripts/Admin.js")
    
</body>
</html>

