
@{
    Layout = null;
    ViewBag.Title = "iBeacon Demo";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
    @Styles.Render("~/Content/css")
    @*@@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="hook" id="hook"></div>

    <div class="content" data-bind="template: { name:displayMode, foreach: cards }">
        
    </div>

    <div class="header">
        iBeacon Demo
        <button data-bind="click: addTest" class="ping">Fake Ping</button>
        <button data-bind="click: refresh">Refresh</button>
    </div>

    <div class="footer">
        &copy; 2014 Klick Inc.
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/hook")

    @Scripts.Render("~/Scripts/Main.js")

    <script type="text/html" id="card_no_image">
        <div class="card">
            <h1 data-bind="text: title">Beacon hit!</h1>
            <p data-bind="text: body">Body!</p>
            <p data-bind="if: url, text:url"></p>
        </div>
    </script>
    <script type="text/html" id="card_image">
        <div class="card">
            <div class="card-image" data-bind="style: { backgroundImage: 'url(' + image + ')' }">
                <h1 data-bind="text: title">Beacon hit!</h1>
            </div>
            <p data-bind="text: body">Body!</p>
            <p data-bind="if: url, text:url"></p>
        </div>
    </script>
    <script type="text/html" id="card_video">
        <div class="card">
            <div class="card-image" data-bind="style: { backgroundImage: 'url(' + image + ')' }">
                <video controls="controls"
                       poster="/Content/images/transparent.gif"
                       data-bind="event: { play: $parent.onPlay }">
                    <source data-bind="attr: { src: video }" type="video/mp4" />
                </video>
            </div>
            <h1 data-bind="text: title">Beacon hit!</h1>
            <p data-bind="text: body">Body!</p>
            <p data-bind="if: url, text:url"></p>
        </div>
    </script>
</body>
</html>

